PB_URL=http://localhost:8080
PB_SUPER_ADMIN_KEY=

# Public Frontend URL
APP_PORT=3000 # Change this to the port you want to run the frontend on
APP_URL=http://localhost:3000

# Don't Change the following values
### ------------------------ ###
### - NITRO_PRESET -> used to determine the server environment
### - PB_INTERNAL_URL -> used to communicate with pocketbase inside the docker network
### - REDIS_URL -> used to communicate with redis inside the docker network
### ------------------------ ###
NITRO_PRESET=bun
PB_INTERNAL_URL=http://pb:8080
REDIS_URL=redis://redis:6379