@import "tailwindcss";
@import "@nuxt/ui";

html {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

code, pre {
    font-family: 'JetBrains Mono', monospace;
}

.card-title {
    font-family: 'Outfit', sans-serif;
}